$dark: #272727;
$light: snow;
$primary_background: $light;
$background_content: $primary_background;
$background_header: rgb(228, 228, 228);
$background_burger_line: $dark;
$logo_color: #0b72b7;
$hover_color: $logo_color;
$text_color: $dark;
$border_color: #333;
$heading_color: $dark;
$subheading_color: darken($background_header, 25%);
$burger_height: 2em;
$burger_width: 3em;
$font_size_heading: 14pt;
$font_size_subheading: 10pt;
$font_size_article: 11pt;
$font_primary: 'Quicksand', sans-serif;

body {
    margin: 0;
    background-color: $primary_background;
    color: $text_color;
    display: grid;
    height: 100vh;
    width: 100vw;
    font-family: $font_primary;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header"
        "content";
}

header-area {
    grid-area: header;
    padding: 0 1em 0 1em;
    margin: 0;
    display: grid;
    justify-items: stretch;
    background-color: $background_header;
    z-index: 2;
    a {
        display: none;
        text-align: center;
        padding: 1em 0 1em 0;
        text-decoration: none;
        color: $text_color;
    }
    a:hover {
        color: $hover_color;
    }
    navbar {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: space-between;
        height: 3.25em;
        logo {
            color: $dark;
            font-family: $font_primary;
        }
    }
    burger {
        span {
            text-decoration: none;
            background: transparent;
            border: none;
            height: $burger_height;
            width: $burger_width;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            // padding: 0 0.1em 0 0.1em;
            margin: 0;
            burger-line {
                height: 0.1em;
                width: calc(#{$burger_width} - 0.5em);
                border: 0.1em solid $background_burger_line;
                border-radius: 10px;
                background-color: $background_burger_line;
            }
        }
    }
}

.header_shadow {
    box-shadow: 0px 0px 20px 10px $background_header;
}

content-area {
    padding: 0 1em 0 1em;
    grid-area: content;
    background-color: $background_content;
    color: $text_color;
}

article {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    font-size: $font_size_article;
    a {
        font-weight: bold;
        color: $heading_color;
        font-size: $font_size_heading;
        text-decoration: none;
    }
    a:hover {
        color: $hover_color;
    }
    subheading {
        color: $subheading_color;
        font-size: $font_size_subheading;
        padding-top: 1em;
    }
}

img {
    display: block;
    width: 100%;
}