{% extends "main/base.html" %}
{% load menu %}

{% block title %}Article List{% endblock %}

{% block menu %}
    {% include "snippets/menu.html" with menu=menu %}
{% endblock %}

{% block content_area %}
<article-list>
    {% for article in object_list %}
        <article>
            <a href="{% url 'article.detail' article.created.year article.created.month article.slug %}">
                <info>
                    {{ article.updated|date:"DATE_FORMAT" }}
                    {% for tag in article.tags.all %}
                        <tag>{{tag}}</tag>
                    {% endfor %}
                </info>
                <h1>{{ article.headline }}</h1>
            </a>
        </article>
    {% endfor %}
</article-list>
{% endblock %}

{% block aside_area %}
    {{ content.sidebar }}
    <aside-heading>Filter und Suche</aside-heading>
{% endblock aside_area %}