@import '_variables.scss';

@mixin keyframes_rotate_translate($direction, $deg, $Xpx, $Ypx) {
    @if $direction == "open" {
        from {transform: rotate(0deg);}
        to {transform: rotate($deg) translate3d($Xpx,$Ypx,0);}
    } @else {
        from {transform: rotate($deg) translate3d($Xpx,$Ypx,0);}
        to {transform: rotate(0deg);}
    }
}
@mixin keyframes_visibility($direction) {
    @if $direction == "open" {
        from {visibility: visible; background-color: $burger_line_background;}
        to {visibility: hidden; background-color: transparent; transform: translateY(10px);}
    } @else {
        from {visibility: hidden; background-color: transparent; transform: translateY(10px);}
        to {visibility: visible; background-color: $burger_line_background;}
    }
}

@for $i from 0 through 2 {
    @keyframes burgerclose_#{$i} {
        @if $i == 0 {
            @include keyframes_rotate_translate("close", 45deg, 10px, 10px);
        } @else if $i == 1 {
            @include keyframes_rotate_translate("close", -45deg, -2px, 3px);
        } @else {
            @include keyframes_visibility("close");
        }
    }
    @keyframes burgeropen_#{$i} {
        @if $i == 0 {
            @include keyframes_rotate_translate("open", 45deg, 10px, 10px);
        } @else if $i == 1 {
            @include keyframes_rotate_translate("open", -45deg, -2px, 3px);
        } @else {
            @include keyframes_visibility("open");
        }
    }
    .burgerclose_#{$i} {
        animation-duration: $burger_animation_duration;
        animation-name: burgerclose_#{$i};
        animation-fill-mode: $burger_animation_fill_mode;
        animation-timing-function: $burger_animation_timing_function;
    }
    .burgeropen_#{$i} {
        animation-duration: $burger_animation_duration;
        animation-name: burgeropen_#{$i};
        animation-fill-mode: $burger_animation_fill_mode;
        animation-timing-function: $burger_animation_timing_function;
    }
}

@keyframes search_result_blink {
    0%, 100% {
        background-color: $body_background;
    }
    50% {
        background-color: $teasing_color;
    }
}

.search_result_blink {
    animation-duration: 0.6s;
    animation-name: search_result_blink;
    animation-fill-mode: alternate;
    animation-timing-function: $burger_animation_timing_function;
}