$pt_serif: 'PT Serif', serif;
$roboto: 'Roboto', sans-serif;

$font_headings: $pt_serif;
$font_logo: $pt_serif;
$font_text: $roboto;


$colorpalette_1: #F5F5F4, rgb(250, 120, 211), #CF935A, rgb(84, 90, 100);
$colors: (1: $colorpalette_1);
$selected_colorpalette: 1;

$white: #ffffff;
$light_gray: nth(map-get($colors, $selected_colorpalette),1);
$pink: nth(map-get($colors, $selected_colorpalette),2);
$gold: nth(map-get($colors, $selected_colorpalette),3);
$dark_gray: nth(map-get($colors, $selected_colorpalette),4);

$font_color: $dark_gray;
$heading_color: $font_color;
$link_color: $white;
$header_area_color: $white;
$teasing_color: $gold;
$hover_color: $teasing_color;
$active_color: $teasing_color;
$tap_hightlight_color: $teasing_color;
$list_highlight_color: $teasing_color;
$tag_color: $teasing_color;

$shark_fill_color: $white;

$body_background: $light_gray;
$header_area_background: lighten($dark_gray, 12.5%);
$burger_line_background: $white;
$tag_background: $teasing_color;


$burger_height: 1.5rem;
$burger_width: 2.2rem;
$standard_margin: 1.5rem;
$line_height: 1.5rem;


$animation_duration: 0.2s;

$burger_animation_duration: $animation_duration;
$burger_animation_fill_mode: forwards;
$burger_animation_timing_function: ease-in-out;

$menu_animation_duration: $animation_duration;
$menu_animation_timining-function: ease-in-out;


$breakpoint_0: 0px;
$breakpoint_xs: 320px;
$breakpoint_sm: 480px;
$breakpoint_md: 768px;
$breakpoint_lg: 992px;
$breakpoint_xl: 1200px;


@mixin breakpoint($point) {
    @media only screen and (min-width: $point) { @content ; }
}