@import '_reset.scss';
@import '_variables.scss';
@import '_animation.scss';

body {
    background-color: $body_background;
    color: $font_color;
    font-family: $font_text;
    line-height: $line_height;
    padding-bottom: 5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: $standard_margin 0 0 0;
    font-family: $font_headings;
    font-weight: bold;
    line-height: $line_height;
}
h1 { font-size: 1.5rem; line-height: 2rem; }
h2 { font-size: 1.4rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 0.9rem; }
h5 { font-size: 0.8rem; }
h6 { font-size: 0.7rem; }

.header-area:hover {
    menu {
        a {
            color: $link_color;
            &:hover {
                color: $hover_color;
            }
        }
    }
}

header-area {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 0 0;
    background: $header_area_background;
    color: $header_area_color;
    @include breakpoint($breakpoint_md) {
        align-self: stretch;
    }
    burger-wrapper {
        display: flex;
        justify-content: center;
        padding: 0 1rem 1rem 1rem;
        margin-bottom: 0.5rem;
        @include breakpoint($breakpoint_md) {
            display: none !important;
        }
        burger {
            height: $burger_height;
            width: 35px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            -webkit-tap-highlight-color: $tap_hightlight_color;
            burger-line {
                background-color: $burger_line_background;
                width: 35px;
                height: 2.5px;
                border-radius: 25px;
            }
        }
    }
    menu {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 0;
        transition: height $menu_animation_duration $menu_animation_timining-function;
        @include breakpoint($breakpoint_md) {
            width: 100%;
            height: initial !important;
            max-width: 1000px;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: $standard_margin;
        }
        a {
            margin-top: 1rem;
            color: $link_color;
            text-align: center;
            text-decoration: none;
            -webkit-tap-highlight-color: $tap_hightlight_color;
            &:first-child {
                margin-top: 0;
            }
            &:hover {
                color: $hover_color;
            }
            &.active {
                color: $active_color;
            }
            @include breakpoint($breakpoint_md) {
                margin-right: 1.5rem;
                &:first-child {
                    padding-left: 2rem;
                }
                &:last-child {
                    margin-bottom: 0;
                    padding-right: 2rem;
                }
            }
        }
        searchbox {
            display: flex;
            align-items: center;
            margin: 2rem 0 2rem 0;
            input {
                margin-right: 0.5rem;
                border-radius: 0;
                border: 0;
                -webkit-appearance: none;
            }
            @include breakpoint($breakpoint_md) {
                margin: 0;
            }
        }
    }
    svg {
        fill: $shark_fill_color;
        fill-rule: evenodd;
        padding-bottom: $standard_margin;
        &:hover {
            fill: $hover_color;
        }
    }
}
content-outer {
    @include breakpoint($breakpoint_md) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    content-inner {
        @include breakpoint($breakpoint_md) {
            display: grid;
            grid-template-columns: 3fr 1fr;
            grid-template-areas: "content-area aside-area";
            max-width: 1000px;
            width: 100%;
        }
        content-area {
            color: $font_color;
            padding: 0 1rem 0 1rem;
            display: flex;
            flex-direction: column;
            @include breakpoint($breakpoint_md) {
                grid-area: content-area;
                padding: 0 1rem 0 2rem;
            }
            article {
                display: flex;
                flex-direction: column;
                a {
                    color: $heading_color;
                    font-weight: bold;
                    text-decoration: none;
                    &:hover {
                        color: $hover_color;
                    }
                }
                info {
                    color: $font_color;
                    border-bottom: 1px solid $font_color;
                    margin-top: $standard_margin;
                    tag {
                        color: $tag_background;
                        padding: 0.2rem 0.4rem 0.2rem 0.4rem;
                    }
                }
                h1 {
                    margin-bottom: 1.5rem;
                }
                p {
                    margin: $standard_margin 0 0 0;
                    line-height: $line_height;
                }
                em.teaser {
                    font-style: italic;
                    color: $teasing_color;
                }
                subheading {
                    padding-top: 1rem;
                }
                img {
                    margin: $standard_margin 0 0 0;
                    display: block;
                    width: 100%;
                }
                ul, ol {
                    margin: $standard_margin 0 0 0;
                    display: table;
                    line-height: $line_height;
                    li {
                        display: table-row;
                    }
                    li:before {
                        display: table-cell;
                    }
                }
                ol {
                    padding-left: 1rem;
                }
                ul {
                    padding-left: 0;
                    list-style-type: none;
                    li:before {
                        color: $list_highlight_color;
                        content: "•";
                        padding-right: 8px;
                    }
                }
            }
            article-list {
                info {
                    text-align: left;
                    border: 0;
                    a {
                        color: $teasing_color;
                        &:hover {
                            color: $font_color;
                        }
                    }
                }
                h1, h2, h3, h4, h5, h6 {
                    font-weight: normal;
                    margin: 0.3rem 0 0 0;
                    line-height: 1.7rem;
                }
                a {
                    font-weight: normal;
                    line-height: $line_height;
                }
            }
        }
        aside-area {
            display: flex;
            flex-direction: column;
            padding: 0 1rem 0 1rem;
            @include breakpoint($breakpoint_md) {
                grid-area: aside-area;
                margin-left: 0;
                padding: 0 2rem 0 1rem;
            }
            aside-heading {
                font-weight: bold;
                font-family: $font_headings;
                margin-top: $standard_margin;
                display: grid;
            }
            article {
                display: flex;
                flex-direction: column;
                margin-top: $standard_margin;
                a {
                    text-decoration: none;
                    p {
                        font-size: 0.8rem;
                        color: $dark_gray;
                    }
                }
                h1 {
                    font-size: 1rem;
                    line-height: 1.5rem;
                    margin: 0;
                    font-family: $font_text;
                    color: $heading_color;
                }
                info {
                    font-size: 0.8rem;
                    color: $font_color;
                }
            }
            tags {
                line-height: 2rem;
            }
            tag {
                a {
                    color: $font_color;
                    text-decoration: none;
                    &.active {
                        color: $active_color;
                    }
                    &:hover {
                        color: $hover_color;
                    }
                }
            } 
        }    
    }
}

#disqus_thread {
    margin-top: 2rem;
}
