@import '_reset.scss';
@import '_variables.scss';
@import '_burger_animation.scss';


@media only screen and (min-width: $breakpoint_0) {
    body {
        background-color: $primary_background;
        color: $font_color;
        display: grid;
        height: 100vh;
        width: 100vw;
    }

    .removed {
        display: none;
    }

    header-area {
        @include header_gradient;
        grid-area: header;
        padding: 0 1rem 0 1rem;
        display: grid;
        z-index: 2;
        a {
            color: $font_color;
            display: none;
            text-align: center;
            padding: 0.2rem 0 0.2rem 0;
            margin-bottom: 0.5rem;
            text-decoration: none;
            -webkit-tap-highlight-color: $tap_hightlight_color;
            
            &:hover {
                color: $hover_color;
            }
            &.active {
                color: $logo_color;
            }
        }
        navbar {
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            justify-content: space-between;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-tap-highlight-color: transparent;
            logo {
                color: $dark;
            }
            svg {
                fill: $logo_color;
                fill-rule: evenodd;
            }
        }
        burger {
            height: $burger_height;
            width: $burger_width;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            burger-line {
                background-color: $background_burger_line;
                width: $burger_width;
                height: 0.15rem;
                border-radius: 25px;
            }
        }
    }

    content-area {
        background-color: $background_content;
        color: $font_color;
        padding: 0 1rem 0 1rem;
        grid-area: content;
        max-width: calc(100vw - 2.0em);
        hyphens: auto;
        article {
            display: flex;
            flex-direction: column;
            a {
                color: $heading_color;
                font-weight: bold;
                text-decoration: none;
            }
            a:hover {
                color: $hover_color;
            }
            info {
                text-align: right;
                color: $font_color;
                border-bottom: 1px solid $font_color;
                margin-top: 1rem;
                tag {
                    color: $font_color;
                    background: $secondary_background;
                    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
                }
            }
            p {
                margin: 0.5rem 0 0 0;
                line-height: 1.5rem;
            }
            subheading {
                color: $subheading_color;
                padding-top: 1rem;
            }
            img {
                margin: 1rem 0 0 0;
                display: block;
                width: 100%;
            }
            pre {
                background-color: $hightlight_background;
                color: $highlight_font_color;
                white-space: inherit;
                margin: 1rem -1rem 0 -1rem;
                padding: 0.5rem 1rem 0.5rem 1rem;
                line-height: 1.5rem;
            }
            h1 {
            }
            h1, h2, h3, h4, h5, h6 {
                margin: 1.5rem 0 0 0;
            }
            ul, ol {
                margin: 1rem 0 0 0;
                display: table;
                line-height: 1.5rem;
                li {
                    display: table-row;
                }
                li:before {
                    display: table-cell;
                }
            }
            ol {
                padding-left: 1rem;
            }
            ul {
                padding-left: 0;
                list-style-type: none;
                li:before {
                    color: $logo_color;
                    content: "•";
                    padding-right: 8px;
                }
            }
        }
        article-list {
            a {
                font-weight: normal;
                margin-top: 1rem;
                line-height: 1.5rem;
                info {
                    text-align: left;
                    border: 0;
                }
                h1 {
                }
                h1, h2, h3, h4, h5, h6 {
                    font-weight: normal;
                    margin: 0.3rem 0 0 0;
                    line-height: 1.7rem;
                }
            }
        }
    }

    #disqus_thread {
        margin-top: 2rem;
    }
}

@media only screen and (min-width: $breakpoint_xs) {
    body {
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "header"
            "content";
    }
    navbar {
        height: 3.25rem;
    }
}

@media only screen and (min-width: $breakpoint_md) {
    header-area {
        grid-template-rows: auto;
        grid-template-columns: auto auto auto 1fr;
        padding: 0 2rem 0 2rem;
        justify-content: space-between;
        align-items: flex-end;
        navbar {
            grid-row: 1;
            grid-column: -1;
            grid-template-columns: auto auto;
            align-self: center;
            align-items: end;
            height: 2.15rem;
            span {
                margin-right: 0.25rem;
            }
        }
        a {
            display: initial;
            grid-row: 1;
            justify-self: flex-start;
            padding-right: 1rem;
        }
        burger {
            display: none;
        }
    }
    content-area {
        padding: 0 2rem 0 2rem;
    }
}