{% load sass_tags static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% sass_src 'sass/main.scss' %}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <title>rblog</title>
</head>
<body>
    <header-area>
        <navbar>
            <!-- <burger>
                <span>
                    <burger-line></burger-line><burger-line></burger-line><burger-line></burger-line>
                </span>
            </burger> -->
            <span>Marius Räsener</span>
            <logo>
                <img src="{% static 'imgs/shark_logo.svg' %}" alt="raesener.de shark logo">
            </logo>
        </navbar>
        <a href="">Artikel</a>
        <a href="">Linkliste</a>
        <a href="">Kontakt & Identities</a>
        <a href="">Impressum</a>
    </header-area>
    <content-area>
        <article>
            <img 
                src="{% static 'imgs/test_pic_320.jpg' %}"
                alt="article teaser picture"
                srcset="{% static 'imgs/test_pic_640.jpg' %} 300w,{% static 'imgs/test_pic.jpg' %} 640w">
            <subheading>
                Bauhaus zeitlos im Style
            </subheading>
            <a href="#">Wer kann jemals vomg Style her die alten schlage?</a>
            <p>
                Das ist der Teaser text, also der erste Absatz des Artikels oder halt einfach der normale Text und gekürzt.
            </p>
        </article>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores placeat deserunt illo ea assumenda et sint, eligendi harum. Autem, suscipit. Iusto possimus odit adipisci est distinctio minus nihil. Architecto, recusandae.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores placeat deserunt illo ea assumenda et sint, eligendi harum. Autem, suscipit. Iusto possimus odit adipisci est distinctio minus nihil. Architecto, recusandae.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores placeat deserunt illo ea assumenda et sint, eligendi harum. Autem, suscipit. Iusto possimus odit adipisci est distinctio minus nihil. Architecto, recusandae.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores placeat deserunt illo ea assumenda et sint, eligendi harum. Autem, suscipit. Iusto possimus odit adipisci est distinctio minus nihil. Architecto, recusandae.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores placeat deserunt illo ea assumenda et sint, eligendi harum. Autem, suscipit. Iusto possimus odit adipisci est distinctio minus nihil. Architecto, recusandae.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores placeat deserunt illo ea assumenda et sint, eligendi harum. Autem, suscipit. Iusto possimus odit adipisci est distinctio minus nihil. Architecto, recusandae.</p><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores placeat deserunt illo ea assumenda et sint, eligendi harum. Autem, suscipit. Iusto possimus odit adipisci est distinctio minus nihil. Architecto, recusandae.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores placeat deserunt illo ea assumenda et sint, eligendi harum. Autem, suscipit. Iusto possimus odit adipisci est distinctio minus nihil. Architecto, recusandae.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores placeat deserunt illo ea assumenda et sint, eligendi harum. Autem, suscipit. Iusto possimus odit adipisci est distinctio minus nihil. Architecto, recusandae.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores placeat deserunt illo ea assumenda et sint, eligendi harum. Autem, suscipit. Iusto possimus odit adipisci est distinctio minus nihil. Architecto, recusandae.</p>

    </content-area>
    <script>
        document.querySelector('navbar').addEventListener('click', toggleMenu);
        
        function toggleMenu() {
            let header = document.querySelector('header-area');
     
            document.querySelectorAll("header-area > a").forEach((el) => {
                el.style.display = el.style.display === "initial" ? "" : "initial";
            })
            
            if (header.classList.contains('header_shadow')) {
                console.log("eventhandler removed");
                document.querySelector('content-area').removeEventListener('click', toggleMenu);
            } else {
                console.log("eventhandler added");
                document.querySelector('content-area').addEventListener('click', toggleMenu);
            }
            header.classList.toggle('header_shadow');
        }
    </script>
</body>
</html>